CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
bin
NeAnalysis
CORAnalysis/datafile
CORAnalysis/data
G__*
libBCS*
.*swp
.*swo
*.pcm
*.d
*.so
*.root
*.txt
*.out
*.dat
*png
*pdf
junk*
lib
.bcsrc
'
\
201
